.global-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background: rgba(255,255,255,0.9);
  backdrop-filter: blur(10px);

  box-shadow: var(--shadow-sm);
}

.global-header-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.logo {
  width: 120px;
}

.logo img {
  width: 100%;
  height: auto;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-nav a {
  color: var(--color-text);
  font-weight: 600;

  transition: var(--transition);

  padding: 10px 16px;
  border-radius: 12px;
  transition: 0.3s;
}

.main-nav a:hover {
  background: #fff5e8;
  color: var(--color-main);
}

.main-nav form {
  margin: 0;
}

.logout-btn {
  padding: 8px 16px;

  border: none;
  border-radius: 20px;

  background: var(--color-main);
  color: white;

  cursor: pointer;

  transition: var(--transition);
}

.logout-btn:hover {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
    gap: 20px;
  }

  .main-nav {
    flex-wrap: wrap;
    justify-content: center;
  }
}