body {
  font-family:
    "Zen Maru Gothic",
    sans-serif;

  color: var(--color-text);
  line-height: 1.7;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

.small-text {
  font-size: 0.9rem;
  color: #888;
}